<html>
<head>
  <title>댓글 수정 페이지</title>
  
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <br><br><br><br>
  <div align="center">
    <h1>댓글 수정 페이지</h1>
    <form action="/powerade/update" method="POST" style="text-align: center">
      <input type="hidden" name="id" value="<%=params[:id]%>">
      <input type="hidden" name="mode" value="reply">
      Name : <input type="text" name="r_name" value="<%=@one_reply.d_name%>" readonly><br/><br/>
      Reply : <input type="text" name="myreply" value="<%=@one_reply.d_reply%>"><br/><br/>
      <button type="submit" class="btn btn-default">수정</button>&nbsp
      <button class="btn btn-default" onclick="location.href='/'">돌아가기</button>&nbsp
    </form>
  </div>
</body>
</html>